<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if description %}
        <meta name="description" content="{{ description }}">
        {% endif %}

        <title>{{ playbook }}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
        <script src="{{ url_for('static', filename='copy.js') }}"></script>
    </head>

    <body onload="show_copy_btn()">
        <main>
            {% if description %}
            <h1>{{ description }}</h1>
            {% endif %}

            {% if is_windows %}
            {% set cmd = '(Invoke-WebRequest %s/run).Content' % AOH_ORIGIN %}
            {% else %}
            {% set cmd = 'curl -s %s/run' % AOH_ORIGIN %}
            {% endif %}

            {% set cmd = cmd + ' | python3' %}

            {% if playbook != 'main.yml' %}
            {% set cmd = cmd + ' - %s' % playbook %}
            {% endif %}

            <div id="cmd-bar">
                <code id="cmd" class="{% if is_windows %}win{% endif %}">
                    {{ cmd }}
                </code>
                <button id="copy" aria-label="Copy command" hidden
                    onclick="copy('{{ cmd }}')">
                </button>
            </div>
        </main>
    </body>
</html>
